@import "tailwindcss";
@import "@fontsource/nunito";
@import "@fontsource/nunito/700.css";
@import "@fontsource/nunito/800.css";
@theme {
    --color-primary: #a5d9c8;
    --color-secondary: #f6f0c6;
}

:root {
    font-family: "Nunito", system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #020056;

    background-color: #f2f2f2;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    width: 100vw;
    height: 100vh;
}

.header-gradient {
    background: linear-gradient(
        270deg,
        #f6f0c6 0%,
        #d9135d 0.01%,
        rgba(214, 19, 92, 0.996895) 0.02%,
        #f6f0c6 0.03%,
        #a6d9c8 80.73%,
        #a5d9c8 100%
    );
}
